/* Page background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/temp.jpeg');
    background-size: cover;        /* fills entire screen */
    background-position: center;   /* keeps image centered */
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.container {
    background: white;
    padding: 30px;
    width: 330px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.swap-btn {
    background: #ddd;
    border: none;
    padding: 6px 12px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
}


h1 {
    margin-bottom: 20px;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.clear-btn {
    background: #999;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    cursor: pointer;
}


button:hover {
    background: #364fc7;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: #222;
}
